---
Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-explicit-virtual-functions,cppcoreguidelines-special-member-functions'
WarningsAsErrors: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-explicit-virtual-functions,cppcoreguidelines-special-member-functions'
FormatStyle: file
...
